body {
    background-color: darkgray;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

@font-face {
  font-family: Cursed Timer ULiL;
  src: url('fonts/CursedTimerUlil-Aznm.ttf');
}

@font-face {
  font-family: Quartzo Font;
  src: url('fonts/quartzo-font-f22857.ttf');
}

.container {
    border-radius: 10px;
    border: 20px solid black;
    padding: 5%;
    display: flex;
    background-color: #013666;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    height: 50%;
    width: 30%;
}

.home, .guests {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    font-family: Quartzo Font;
    font-size: 50px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

#reset-row {
    display: flex;
    justify-content: space-between;
}

#timer-home {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    min-height: 30px;
    border-radius: 5px;
    border: 2px solid darkblue;
    width: 18%;
    background-color: black;
    color: red;
    font-family: Cursed Timer ULiL;
    padding: 5px;
}

#score-home, #score-guests {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: red;
    border-radius: 10px;
    border: 3px solid darkblue;
    font-family: Cursed Timer ULiL;
    font-size: 80px;
    margin: 20px 0px;
    padding: 0;
    margin: 0;
}

#points-home, #points-guests {
    display: flex;
    align-items: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #013666;
    font-family: Cursed Timer ULiL;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    border-radius: 5px;
    width: 30%;
    height: 32px;
    color: green;
    background-color: black;
    font-family: Cursed Timer ULiL;
}

#reset-guests {
    align-self: flex-end;
    background-color: black;
    color: red;
    border-color: red;
}


@media (max-width: 600px) {
  .home, .guests {
    font-size: 40px;
    }
}

@media (max-width: 400px) {
  .home, .guests {
    font-size: 32px;
    }
}
